<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955581376783-s9hhv5bsarij2arktvmhl7r08vfguv7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955581376783-s9hhv5bsarij2arktvmhl7r08vfguv7u</string>
	<key>API_KEY</key>
	<string>AIzaSyBw0rKqCl8JtIvaJCPrSwxxvXsWNKj_zXc</string>
	<key>GCM_SENDER_ID</key>
	<string>955581376783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.demotask</string>
	<key>PROJECT_ID</key>
	<string>demotask-4afce</string>
	<key>STORAGE_BUCKET</key>
	<string>demotask-4afce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955581376783:ios:e4f968f95ab67b27b3f67a</string>
</dict>
</plist>